@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');

:root {
  --primary: #c7c8cc;
  --secondary: #005fdc;
  --accent: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.bg-img {
  background-image: url("pictures/server1.jpg");
  background-position: center;
  background-size: cover;
  height: 1000px;
}
body {
  font-family: 'Edu NSW ACT Foundation', cursive;
}

.navigation-bar {
  background-color: var(--primary);
  color: var(--secondary);
}

.navigation-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 100;
  letter-spacing: 0.05rem;
  float: right;
}

.brand span {
  font-weight: 400;
  color: var(--accent);
}

.menu-toggle:hover {
  cursor: pointer;
  color: var(--accent);
}

.burger {
  height: 1.5rem;
  width: 1.5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.25rem;
  line-height: 2rem;
}

.menu-item {
  margin-top: 2rem;
}

.menu-item:hover {
  color: var(--accent);
}

.float {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--secondary);

  background-color: var(--accent);
  border-radius: 100%;

  transition: all 100ms ease-in-out;
}

.float:hover {
  transform: scale(1.2);
}

.float-icon {
  width: 3rem;
}


.hidden {
  display: none;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;

    width: 768px;
  }

  .hero-left {
    flex-basis: 45%;
  }

  .hero-right {
    flex-basis: 45%;
  }

  .menu {
    flex-direction: row;
  }

  .menu-item {
    margin-top: 0;
    margin-left: 2rem;
  }

  .menu-toggle {
    display: none;
  }
  .pricing .price-table {
    width: 128px;
    background-image: url("pictures/star.png");
    border: navy;
    border-radius: 3px;
    padding: 40px;
    height: 128px;
    text-align:center;
}
}

.price-table:hover{
font-weight: bold;
background-image: url("pictures/fireworks.png");
background-size: 128px;
aspect-ratio: 1/1;

}


.pricing {
  
}

@media (min-width: 1280px) {
  .wrapper {
    width: 1280px;
  }
}

input{
  border:black;
  border: 1px solid;
  border-radius: 3px;
}
.hero-right {
  flex-basis: 45%;
  border: #c7c8cc;
  border: 5px;
}

.hero{
  font-size: 20px;
}
.wrapper {
  width: 50%;
   margin-right: auto;
  margin-left: auto; 
  padding: 2rem 1.5rem;
}
.sub {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  text-align: center;
}

.sub h6 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.sub h3 {
  font-size: 3rem;
  font-weight: 700;
}

.sub p {
  font-size: 1.25rem;
  line-height: 2rem;
}

.cta .cta-btn {
  cursor: pointer;

  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;

  font-size: 3rem;
  color: var(--secondary);

  background-color: var(--primary);
  border-radius: 1rem;
}

.cta .cta-title {
  font-size: 8rem;
  font-weight: 700;
  color: var(--accent);
  text-shadow: 1rem 0 1rem var(--primary);
}

.cta .cta-btn:hover {
  font-weight: 700;
}

.cta-btn-icon {
  width: 3rem;
  height: 3rem;
}

.cta-btn-icon:hover {
  stroke-width: 3;
}


.cta {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;
  justify-content: center;

  height: 48rem;

  background-image: url('pictures/People.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.services {
  margin-top: 4rem;
  margin-bottom: 4rem;
}


.services .card {
  cursor: pointer;

  /* flex: 1 0 auto; */

  margin: 2rem;
  padding: 2rem;

  text-align: center;

  border: var(--primary) 0.025rem solid;
  border-radius: 1rem;
  box-shadow: 1rem 1rem var(--primary);

  transition: box-shadow 100ms ease-in-out;
}

.services .card:hover {
  box-shadow: 1rem 1rem var(--accent);
}

.services .card .card-title {
  margin-bottom: 2rem;

  font-size: 3rem;
  font-weight: 700;
  color: var(--accent);
}

.services .card .card-content {
  font-size: 1.5rem;
}

.card {
  float: left;
}

.contact .contact-title {
  font-size: 8rem;
  font-weight: 700;
  color: navy;
  text-shadow: 1rem 0 1rem var(--primary);
}

.contact form {
  display: block;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}

.contact form label {
  font-weight: 700;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 0.5rem;

  border: var(--primary) 0.025rem solid;
  border-radius: 1rem;
}



.contact form .submit {
  cursor: pointer;

  padding: 1rem 2rem;

  color: var(--secondary);
  text-align: center;
  text-transform: uppercase;

  background-color: var(--primary);
  border-radius: 1rem;
}
