@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');

:root {
  --primary: #c7c8cc;
  --secondary: #005fdc;
  --accent: #ffffff;
}

.bg-img {
  background-image: url("pictures/server1.jpg");
  background-position: center;
  background-size: cover;
  height: 1000px;
}
body {
  font-family: 'Edu NSW ACT Foundation', cursive;
}

.navigation-bar {
  background-color: var(--primary);
  color: var(--secondary);
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1.5rem;
}

.navigation-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 100;
  letter-spacing: 0.05rem;
  float: right;
}

.brand span {
  font-weight: 400;
  color: var(--accent);
}

.menu-toggle:hover {
  cursor: pointer;
  color: var(--accent);
}

.burger {
  height: 1.5rem;
  width: 1.5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.25rem;
  line-height: 2rem;
}

.menu-item {
  margin-top: 2rem;
}

.menu-item:hover {
  color: var(--accent);
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .wrapper {
    width: 768px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    flex-direction: row;
  }
  .menu-item {
    margin-top: 0;
    margin-left: 2rem;
  }
  .menu-toggle {
    display: none;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    width: 1280px;
  }
}

input{
  border:black;
  border: 1px solid;
  border-radius: 3px;
}